@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  color: #e5e7eb;

  background: radial-gradient(
      circle at top,
      #1f2937 0%,
      #0b0f19 45%,
      #05070d 100%
  );
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}

#role {
  transition: opacity 0.3s ease;
}

#role::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 4px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.active {
  background: black;
  color: white;
}
