---
import { experience } from "../../data/experience";
---

<div class="w-full space-y-6">
  {
    experience.map((item) => (
      <article class="border-l-4 border-cyan-400 bg-white/5 rounded-r-xl p-5 md:p-6 hover:pl-8 transition-all duration-300 shadow-sm hover:border-cyan-300">
        {/* Cabecera: Título y Fecha responsivos */}
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-1">
          <h3 class="text-xl font-bold text-white">{item.title}</h3>
          <span class="text-sm text-teal-300 font-medium sm:text-right">
            {item.date}
          </span>
        </div>

        <p class="text-amber-400 font-medium text-sm mt-1">{item.company}</p>

        <ul class="mt-4 space-y-2 text-gray-400 text-sm md:text-base font-normal list-disc pl-4">
          {item.description.map((bullet) => (
            <li class="leading-relaxed marker:text-cyan-400">{bullet}</li>
          ))}
        </ul>
      </article>
    ))
  }
</div>
